# Ignoriere alles
*

# Ausnahme für alle Unterverzeichnisse und versteckte Dateien
!/**/
!.*

# Nicht ignorierte Dateien und Ordner
!.config/
!.config/**

# Weitere Ausschlüsse
.DS_Store
.vscode/
.oh-my_zsh/

# Ignoriere standardmäßige Benutzerverzeichnisse
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
Workspace
