# ignore everything
*

# exception folders without the content inside the folders
#!/**/

# exception for all hidden files
!.*

# exception for hidden folder and its content
!.config/
!.config/**

# exception for VS Code settings
!Library/
!Library/Application Support/
!Library/Application Support/Code/
!Library/Application Support/Code/User/
!Library/Application\ Support/Code/User/settings.json

# ignored hidden files
.DS_Store
.zsh_history

# ignored hidden folders
#.vscode/
#.oh-my-zsh/

# ignored folders
#Desktop
#Documents
#Downloads
#Library
#Movies
#Music
#Pictures
#Public
#Workspace
